<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mine.twitter-to-dayone.scheduler</string>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <!-- # need to give full path to commands as launchd doen't include your $PATH -->
        <string>/Users/SnShines/anaconda3/bin/python</string>
        <string>/Users/SnShines/Documents/GitHub/Twitter-to-DayOne/src/main.py</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/SnShines/Documents/GitHub/Twitter-to-DayOne/logs/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/SnShines/Documents/GitHub/Twitter-to-DayOne/logs/err.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>14</integer>
        <key>Minute</key>
        <integer>38</integer>
    </dict>
</dict>
</plist>
